.dashboard-overlays {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--text-main);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
p.split-parent {
  position: absolute;
  color: var(--bg-secondary);
  font-weight: 700;
  font-size: clamp(1rem, 8vw, 85px);
  top: calc(50% - 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
p.timings {
  position: absolute;
  color: var(--bg-secondary);
  font-weight: 700;
  font-size: clamp(1rem, 6vw, 70px);
  top: calc(50% + 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  justify-content: center;
}
.shiny-redirecting {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.shiny-button {
  cursor: pointer;
  background-color: #111;
  border: 1px solid #353535;
  border-radius: 15px;
  padding: 0.4em 1.2em;
  transition: all 0.3s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
@media screen and (max-width: 767px) {
  p.split-parent {
    top: calc(50% - 20px);
  }
  p.timings {
    top: calc(50% + 20px);
  }
}
