.user-layout {
  min-height: 100vh;
  background: var(--bg-main);
  color: var(--text-main);
}

.layout-content {
  width: 100%;

  padding-left: 100px;
}

.mains-content {
  min-height: calc(100vh - var(--header-height));
  padding-bottom: calc(var(--header-height) + 1rem);
}
@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
  }

  .layout-content {
    padding-left: 0;
  }
}
